@tailwind base;
/* @tailwind components; */
@tailwind utilities;

h1 {
  font-size: 30px;
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
  padding-top: 5px;
  text-align: center;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  padding-top: 5px;
}

/* HEADER  */
.header-top {
  background: #fcb900;
  display: flex;
  color: white;
  justify-content: end;
  padding-right: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.branch-name {
  margin-left: 10px;
  font-size: 32px;
  font-style: italic;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-search {
  border: 1px rgb(174, 173, 173) solid;
  border-radius: 5px;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding: 2.5px 16px;
}

.btn-search {
  /* border-top-left-radius: 0px !important; */
  /* border-bottom-left-radius: 0px !important; */
  background-color: #fcb900 !important;
  box-shadow: none !important;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  color: white !important;
}

.btn-login {
  color: white !important;
  font-style: italic;
  background: #fcb300 !important;
}

.branch-logo {
  width: 60px;
  height: 60px;
}

.menu-col:hover {
  strong {
    color: #fcb900;
  }
}

.menu-col li {
  margin-top: 10px;
  text-decoration: none;
  transition: ease-in 0.25s;
}

.menu-col li:hover {
  color: #fcb900;
  text-decoration: underline;
  cursor: pointer;
}

.navbar {
  background: #fcb900;
}

.navbar a {
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid white;
}

.navbar a:hover {
  text-decoration: underline !important;
  font-weight: bold;
  font-style: italic;
}

.header {
  z-index: 100;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
}

.header-inner {
  align-items: center;
}

.header-director:hover {
  color: #fcb900;
  transition: ease-in 0.2s;
}

.menu-list {
  background: white;
  width: 100%;
  position: absolute;
}

.drawer-img {
  max-width: 100px;
  max-height: 100px;
  margin-left: 20px;
}

.drawer-cost {
  font-size: 1rem;
  margin-left: 10px;
}

.side-cart .MuiDrawer-paper{
  width: 20rem !important;
  overflow-x: auto !important;
}

/* Header responsive */
@media (width<1024px) {
  .header-nav {
    order: 2;
    grid-column: 1 / -1;
    background: #fbe54a96;
  }

  .brand-icon {
    grid-column: span 4 / span 4;
  }

  .user {
    grid-column: span 3 / span 3;
  }

  .header-float {
    height: auto;
  }
}

@media (width<600px) {
  .branch-name {
    font-size: 1.5rem;
  }

  .branch-logo {
    width: 50px;
    height: 50px;
  }
  .user,
  .brand-icon {
    grid-column: 1 / -1;
  }

  .header-nav {
    margin-top: 0.5rem;
  }
}
/* crsl */
.img-crsl {
  width: 100%;
  height: 95vh;
}

.crsl-content {
  padding: 0.5rem;
  max-width: 20%;
  top: 20%;
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-style: italic;
}

.crsl-content span {
  color: #fcb900;
}

.slick-next {
  right: 25px !important;
  opacity: 1;
  transition: ease;
  z-index: 10;
}

.slick-prev {
  left: 25px !important;
  opacity: 1;
  transition: ease;
  z-index: 10;
}

.slick-next:hover:before {
  color: #fcb900 !important;
}

.slick-prev:hover:before {
  color: #fcb900 !important;
}

.slick-dots li.slick-active button:before {
  color: #fcb900 !important;
}

/* ABOUT US */
.about-us .left {
  padding: 1rem !important;
}

.right .content-img {
  position: absolute;
  z-index: 2;
  top: 10%;
  padding: 5%;
  color: white;
  line-height: 30px;
}

.reveal .left {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal .right {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active .left,
.reveal.active .right {
  position: relative;
  transform: translateX(0px);
  opacity: 1;
}

/* .reveal.active .right{
  position: relative;
  transform: translateX(0px);
  opacity: 1;
} */
/*  */
.propose-item_name {
  font-weight: 600;
  text-align: center;
  font-size: 1.3rem;
}

.propose-item_name:hover {
  color: #fcb900;
  cursor: pointer;
}

.propose-grid {
  width: 80%;

}

@media (width<=1200px) {
  .propose-grid {
    width: 100%;
  }
}

.propose-grid img {
  border-radius: 3px;
  width: 100%;

}

/*  */
.news-card {
  padding: 15px;
  width: 20%;
}

.news-card img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 170px;
  border-radius: 5px;
}

.news-card h6 {
  font-weight: 600;
  margin-top: 10px;
}

.is-divider {
  height: 2px;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  /* height: 3px; */
  /* margin: 1em 0; */
  max-width: 30px;
  width: 100%;
}

.news-card a {
  text-decoration: underline;
  transition: ease;
}

.news-card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 24px 16px rgba(0, 0, 0, 0.1);

  .news-card a {
    text-decoration: none;
    text-decoration: underline;
  }
}

.news .slick-next:before {
  color: #fcb900;
}

.news .slick-next {
  right: -25px !important;
}

.news .slick-prev:before {
  color: #fcb900;
}

.news .slick-prev {
  left: -25px !important;
}

.news-card h6:hover {
  color: #fcb900;
}

.footer {
  background: white;
  color: black;
}

.footer span {
  font-weight: 600;
  font-size: 20px;
}

.footer h3 {
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 10px;
  cursor: pointer;
}

/* Contact  */
.contact-div {
  position: fixed;
  top: 50%;
  right: 10px;
  background: rgb(218, 218, 219);
  border-radius: 5px;
  padding: 10px;
  z-index: 20;
}

.contact-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@keyframes mymove {
  10% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(30deg);
  }

  55% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.phone-ring {
  rotate: -10deg;
  background: red;
  animation: 1s linear mymove 3s infinite;
}

@media (width<600px) {
  .contact-div p {
    display: none;
  }
}

/* Homepage media */
/* width <1224 */
@media (width<1224px) {
  .right .content-img {
    top: 5%;
  }
}

/* width < 1024 */
@media (width<1024px) {
  .about-us .left {
    width: 100%;
  }

  .crsl-content {
    top: 10%;
    font-size: 1.5rem;
  }

  .about-us .right {
    width: 60%;
  }

  .about-us {
    justify-content: center;
  }
}

/* width < 896px */

@media (width<896px) {
  .img-crsl {
    height: 60vh;
  }

  .about-us .left {
    display: none;
  }

  .crsl-content {
    max-width: 30%;
  }

  .about-us {
    flex-direction: column;
    align-items: center;
  }

  .about-us .right {
    width: 80%;
  }

  .propose-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .propose-grid img {
    width: 100%;
  }

  .menu-list {
    visibility: hidden;
    position: absolute;
  }
}

/* width < 600px */
@media (width<600px) {
  .img-crsl {
    height: 40vh;
  }

  .about-us {
    display: none;
  }

  .crsl-content {
    font-size: 1rem;
    max-width: 30%;
  }

  .navbar {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .footer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* width < 400px */

@media (width<400px) {
  .img-crsl {
    height: 30vh;
  }

  .crsl-content {
    font-size: 0.75rem;
  }
}

/* MENU PAGE */
.breadcrumb {
  background-color: #f5f5f5;
  padding: 10px 40px;
}

.menu {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MuiAccordion-region {
  width: 100%;
  z-index: 10;
  position: absolute;
  background: white;
}

.radio {
  color: #fcb900;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  transition: none !important;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  transition: none !important;
}

.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
  border: 1px solid lightgray;
}

/* card item */
.card-item {
  background-color: #f5f5f5;
  margin-top: 20px;
  border: 1px solid #fcb300;
  border-radius: 10px;
}

.card-img-div img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 33vh;
}

.promotion-price {
  color: red;
  font-size: 18px;
  font-weight: 600;
}

.price {
  color: gray;
  font-size: 14px;
  text-decoration: line-through;
}

.card-description {
  font-size: 18px;
}

.card-description:hover {
  color: #fcb900;
  cursor: pointer;
}

.percent-discount {
  background: #fcb900;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.add-cart {
  background: #fcb900 !important;
  color: white !important;
  border-radius: 10px !important;
  position: absolute !important;
  opacity: 0 !important;
  transition: ease 1s !important;
  bottom: 0px;
}

.add-cart:hover {
  background: #c79200 !important;
}

.card-img-div:hover {
  .add-cart {
    bottom: 20px;

    opacity: 1 !important;
  }
}

.css-1g4or9q-MuiButtonBase-root-MuiRadio-root .MuiSvgIcon-root {
  color: #fb8c00 !important;
}

/* ??? */
.css-56s1s1-MuiInputBase-root-MuiOutlinedInput-root {
  height: 100%;
}

.input-filter-name {
  background-color: #fff !important;
  border-radius: 0px !important;
}

.input-filter-name input {
  font-size: 16px;
}

.filter {
  display: flex;
}

/* responsive Menu */
@media (width<1024px) {
  .card-group {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width<768px) {
  .card-group {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .filter {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width<450px) {
  .card-group {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .header-inner {
    flex-wrap: wrap;
  }

  .search {
    width: 100%;
  }

  .user {
    margin-top: 10px;
  }

  .filter {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

/*  ADMIN PRODUCT */
.table-product-img {
  width: 200px;
  height: 200px;
}

.table-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-modal {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 10px;
  position: relative;
  overflow-y: scroll;
  max-height: 70vh;
}

.text-field-modal {
  border: red;
}

.close-modal-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.btn-confirm-modal {
  background: rgb(56, 185, 56) !important;
  color: white !important;
}

.div-btn-modal {
  display: flex;
  justify-content: end;
}

/* Signin */

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  height: 100vh;
  background: #fff;
}

.input-field {
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  align-items: center;
  justify-items: center;
}

.invalid-textfield {
  color: red;
  font-style: italic;
  font-size: 16px;
}

/* .input-field input::placeholder {
  color: #1e90ff;
  opacity: 0.7; 
} */
.input-field fieldset {
  border-color: #1e90ff;
}

.submit-login {
  color: white !important;
  margin: 20px 0px !important;
  background: #1e90ff !important;
  transition: all 0.5s ease !important;
}

.submit-login:hover {
  background: blue !important;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #4481eb;
  border-color: #4481eb;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 50%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

/* .title{
  color:#1e90ff ;
} */
.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/*  */
.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

/* BANNER */
.banner {
  background-image: url("../src/assets/images/banner.png");
  height: 40vh;
}

/* DETAIL */
.color-icon {
  width: 50px;
  height: 50px;
}

.color-btn {
  margin-right: 10px;
}

.size-btn {
  background: lightgray;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 10%;
  width: 40px;
  text-align: center;
  cursor: pointer;
}

.size-btn-active {
  background: #fcb300;
  margin-right: 10px;
  border: 1px solid lightgray;
  border-radius: 10%;
  width: 40px;
  text-align: center;
  color: white;
}

.detail-option {
  font-size: 1rem;
  color: #888;
  margin-top: 10px;
  margin-bottom: 10px;
}

.detail-price {
  color: red;
  font-weight: 700;
}

.detail-price span {
  margin-left: 10px;
  color: #888;
  text-decoration: line-through;
  font-weight: 400;
}

.detail .p-4 {
  border-top: solid 2px rgb(225, 225, 225);
  border-bottom: solid 2px rgb(225, 225, 225);
}

.detail .left {
  border-right: solid 2px rgb(225, 225, 225);
  display: flex;
  justify-content: center;
}

.detail-image {
  max-width: 100%;
  max-height: 70vh;
}

.detail-desc {
  background: white;
  min-height: 65vh;
}

.MuiButtonGroup-firstButton {
  border: 1px solid #fcb300 !important;
  background-color: #fcb300 !important;
  color: black !important ;
}

.MuiButtonGroup-middleButton {
  background-color: white !important;
  border: 1px solid #fcb300 !important;
  color: black !important;
}

.MuiButtonGroup-lastButton {
  border: 1px solid #fcb300 !important;
  background-color: #fcb300 !important;
  color: black !important;
}

.MuiButtonGroup-middleButton:hover {
  background: white;
  border: 1px solid #fcb300;
  color: black;
}

.MuiButtonGroup-firstButton:hover,
.MuiButtonGroup-lastButton:hover {
  border: 1px solid #fcb300;
  background: #fcb300;
  color: black;
}

.css-12dqeey-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: white !important;
  transition: 0.5s ease-in;
}

.css-1fc41k2-MuiTabs-indicator {
  background-color: #fcb300 !important;
}

.tab-context {
  font-size: 1rem;
  opacity: 0;
  transition: ease-in 0.5s;
  margin-top: 10px;
}

.rec-price {
  color: red;
  font-weight: 700;
}

.rec-price span {
  font-weight: 400;
  color: gray;
  text-decoration: line-through;
  margin-left: 10px;
}

.btn-add-cart-detail {
  background: #fcb900 !important;
  color: white !important;
  border-radius: 10px !important;
  margin-left: 20px !important;
}

/* responsive Detail */
@media (width<1024px) {
  .detail-image {
    max-height: 60vh;
  }

  .detail-btn-group {
    flex-direction: column;
  }

  .btn-add-cart-detail {
    margin-left: 0px !important;
    margin-top: 20px !important;
    width: 75%;
  }

  .detail-recommend .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .detail-price {
    display: flex;
    flex-direction: column;
  }

  .detail-price span {
    margin-left: 0px;
  }
}

@media (width<768px) {
  .detail {
    flex-direction: column;
  }

  .detail .left {
    width: 100%;
    border: none;
  }

  .detail .right {
    width: 100%;
  }

  .detail-price {
    display: block;
  }

  .detail-price span {
    margin-left: 20px;
  }

  .btn-add-cart-detail {
    margin-left: 0px !important;
    margin-top: 20px !important;
    width: 100%;
  }

  .css-edsu1d-MuiButtonGroup-root {
    justify-content: center;
  }
}

/* CART */
.cart-content {
  background: white;
  padding: 4rem;
}

.total {
  background-color: #fbe54a96;
  min-height: 30vh;
  margin-top: 30px;
  padding: 1rem;
  min-width: 80%;
}

.cart-title {
  background: #fbe54a96;
  font-weight: 600;
  align-items: center;
  justify-items: center;

  div {
    padding: 1rem 0rem;
  }
}

.cart-products {
  border: 1px solid #fbcc4a;
}

.cart-items {
  border-bottom: 1px solid #fbcc4a;
  align-items: center;
  justify-items: center;

  div {
    text-align: center;
  }
}

.cart-img {
  min-height: 240px;
  display: flex;
  align-items: center;
}

.cart-btn-remove {
  color: red;
}

.cart-btn-remove:hover {
  font-style: italic;
  text-decoration: underline;
}

.design-color-btn {
  background: #fcb300 !important;
  color: white !important;
}

.div-cart-remove {
  top: 60px;
}

/* responsive Cart */
@media (width<1024px) {
  .cart-content {
    font-size: 1rem;
  }
}

@media (width<768px) {

  .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-firstButton,
  .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-middleButton,
  .css-edsu1d-MuiButtonGroup-root .MuiButtonGroup-lastButton {
    padding: 0px 10px;
  }

  .cart-price {
    display: none;
  }

  .cart-items,
  .cart-title {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width<600px) {
  .cart-items {
    display: flex;
    flex-direction: column;
  }

  .cart-title {
    display: none;
  }

  .cart-img {
    max-width: 50%;
    min-height: auto;
  }

  .subtotal {
    margin-bottom: 10px;
  }

  .div-cart-remove {
    position: relative;
    top: 0px;
  }

  .cart-quantity {
    flex-direction: column;
  }

  .cart-btn-menu,
  .cart-btn-checkout {
    order: 2;
    margin-top: 10px;
  }

  .cart-content {
    padding: 2rem;
  }

  .div-cart-action {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Order Modal */
.col-order-modal {
  padding: 5px 10px;
}

.btn-modal-action {
  width: 7rem !important;
}

.btn-success {
  border-radius: 5px;
  background-color: #4CAF50 !important;
  color: white !important;
  padding: 0.5rem;
  font-size: 1rem;
}

.btn-error {
  background-color: #F44335 !important;
  color: white !important;
}

.btn-close {
  background-color: gray !important;
  color: white !important;
}

.css-o0cc1y-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item {
  min-width: 1rem !important;
  color: black !important;
}

.css-o0cc1y-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
  background: #fcb900 !important;
  color: white !important;
}

.css-hmjkes-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff !important;
  background-color: #fcb900 !important;
}

.css-4602x1-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff !important;
  background-color: #fcb900 !important;
}

.css-qguu1j-MuiPickersYear-yearButton.Mui-selected {
  background-color: #fcb900 !important;
}

@media (width<768px) {
  .div-modal-input {
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }

  .box-modal {
    width: 80%;
    max-height: 65vh;
    overflow-y: scroll;
  }
}

.div-admin-filter {
  border: 1px gray solid;
  border-radius: 0.5rem;
  background: #f8f9fb;
  padding: 8px;
  margin: 1rem;
}

.select-admin-filter {
  border: 1px black solid;
  border-radius: 0.5rem;
  background: rgb(27, 27, 27);
  min-height: 2.5rem;
  min-width: 200px;
  text-align: center;
  color: white;

}

.select-admin-filter option {
  background: rgb(27, 27, 27);
}
.css-1nrlq1o-MuiFormControl-root{
  height: 100%;
}
.css-k9l3bk-MuiSvgIcon-root-MuiStepIcon-root{
  stroke: none !important;
}
.css-117w1su-MuiStepIcon-text{
  color: #F44335;
}
.css-k9l3bk-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
  color: #9fc9ff !important;
  fill: #9fc9ff !important;
  background: none !important;
}
.css-k9l3bk-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed{
  fill: #9fc9ff !important;
}
@media (max-width: 896px) {
.order-table {
  th:nth-child(2),
  td:nth-child(2),
  th:nth-child(4),
  td:nth-child(4) {
    display: none;
  }
}
}
.profile-container{
  padding: 1rem;
}
#avatar{
  margin-left: 20%;
  height: 150px;
  width: 150px;
  border: black solid 1px;
  border-radius: 100%;
  background-position: 50% 50%;
  background-size: cover;
}

.form-hidden {

  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0.5s ease;
}

.form-visible {
  margin-top: 10px;
  opacity: 1;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-base{
  background: #fcb300 !important;
  color: white !important;
}
.color-base{
  color: #fcb300;
}
.user-info{
  font-size: 1rem;
}
.user-info span{
  font-weight: 600;
  color: black;
}
@media (width<800px) {
  .data-div{
    flex-direction: column;
  }
  #avatar{
    margin-left: 0% ;
    margin-bottom: 10px;
    height: 150px;
    width: 150px;
    border: black solid 1px;
    border-radius: 100%;
    background-position: 50% 50%;
    background-size: cover;
  }
}
.custom-shape {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  position: relative;
}

.custom-shape::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100px; /* Nửa đầu là hình tròn */
  height: 100px;
  background-color: lightblue;
  border-radius: 100%;
}

.custom-shape::after {
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-top: 50px solid transparent; /* Nửa sau là tam giác */
  border-bottom: 50px solid transparent;
  border-left: 100px solid lightblue;
}
.tracking-header {
  margin-top: 1rem;
  background-color: #fbe54a96; /* Header background color */
  color: black; /* Header text color */
  text-align: center; /* Center align text */
  padding: 10px 0; /* Padding */ 
  font-weight: 700;
}

.tracking-cell {

  background: white;
  padding: 1rem; /* Padding */
  text-align: center; /* Center align text */
  border: 1px solid #ddd; /* Optional: Border for grid items */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (width<576px) {
  .tracking-header{
    display: none;
  }
  .tracking-row{
    display: flex;
    flex-direction: column;
    border: 2px solid #fcb300;
    margin-top: 10px;
  }
  .tracking-cell{
    width: 100%;
  }
} 